<p>Include fish with the following gender:</p>
<section class="">
  <mat-checkbox class="dialog-options" [(ngModel)]="data.males">Males</mat-checkbox>
  <mat-checkbox class="dialog-options" [(ngModel)]="data.females">Females</mat-checkbox>
</section>

<p>Include fish in the following year:</p>
<section class="">
  <mat-checkbox class="dialog-options" [(ngModel)]="data.year2011">2011</mat-checkbox>
  <mat-checkbox class="dialog-options" [(ngModel)]="data.year2012">2012</mat-checkbox>
  <mat-checkbox class="dialog-options" [(ngModel)]="data.year2013">2013</mat-checkbox>
</section>

<p>Include fish tagged in the following area:</p>
<section class="">
  <mat-checkbox class="dialog-options" [(ngModel)]="data.wolf">Wolf</mat-checkbox>
  <mat-checkbox class="dialog-options" [(ngModel)]="data.fox">Fox</mat-checkbox>
  <mat-checkbox class="dialog-options" [(ngModel)]="data.winnebago">Winnebago</mat-checkbox>
</section>

<button mat-button (click)="onSaveClick()" cdkFocusInitial
  [disabled]="(data.males==false && data.females==false) ||(!data.year2011 && !data.year2012 &&!data.year2013) ||(!data.winnebago && !data.fox && !data.wolf)">Ok</button>