.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: 56px;
}

.mat-icon {
  font-size: 30px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  color: white;
}

.header-image {
  height: 75px;
  justify-content: center;
}

.header-text {
  justify-content: center;
}
