<mat-toolbar color="primary">
  <span><a href="http://www.walleyeTribe.com"><img class="header-image"
        src="../../assets/walleye-tribe-logo3.png" /></a></span>
  <span class="header-text"> Winnebago Walleye Movement Animation</span>
</mat-toolbar>
<div>
  <div class="menu-button-row">
    <a mat-stroked-button href="/">Home</a>
    <a mat-stroked-button href="/movement">Fish Movement</a>
    <a mat-stroked-button href="/fish">Meet the Fish</a>
    <!-- <a mat-stroked-button href="/locations">Receiver Locations</a>
    <a mat-stroked-button href="/byhour">Contacts by Hour</a>
    <a mat-stroked-button href="/byday">Contacts by Day</a> -->

    <button mat-stroked-button [matMenuTriggerFor]="menu">Diagnostics</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="/locations">Receiver Locations</a>
      <a mat-menu-item href="/byhour">Contacts by Hour</a>
      <a mat-menu-item href="/byday">Contacts by Day</a>
      <a mat-menu-item href="/contactsmissedbyreceiver">Contacts Missed by Receiver</a>
      <a mat-menu-item href="/contactsperfish">Contacts per Fish</a>
      <a mat-menu-item href="/contactsperreceiver">Contacts per Receiver</a>
      <a mat-menu-item href="/filterdisplay">Display filter settings</a>
    </mat-menu>

    <button mat-stroked-button (click)='onClickFilters()'>Filters</button>
  </div>
</div>