<mat-toolbar color="primary">
  <span
    ><a href="http://www.walleyeTribe.com"
      ><img class="header-image" src="../../assets/walleye-tribe-logo3.png"/></a
  ></span>
  <span class="header-text"> Winnebago Walleye Movement Animation</span>
</mat-toolbar>
<div>
  <div class="menu-button-row">
    <a mat-stroked-button href="/">Home</a>
    <a mat-stroked-button href="/movement">Fish Movement</a>
    <a mat-stroked-button href="/fish">Meet the Fish</a>
    <a mat-stroked-button href="/locations">Receiver Locations</a>
  </div>
</div>
