.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: 56px;
}

.mat-icon {
  font-size: 30px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  color: white;
}

.mat-toolbar {
  justify-content: center;
}

.header-image {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 50px;
  text-align: right;
  justify-content: center;
}
