<div class="table-div">
  <p>
    You would expect the fish to hit every receiver. If there are three receiver A, B and C. If the fish hits A and then
    C, receiver
    B was missed.
  </p>



  <table mat-table [dataSource]="missedContacts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contacts">
      <th mat-header-cell *matHeaderCellDef> contacts </th>
      <td mat-cell *matCellDef="let element"> {{element.contacts}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="missedContacts">
      <th mat-header-cell *matHeaderCellDef> missed contacts </th>
      <td mat-cell *matCellDef="let element"> {{element.missedContacts}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="pctMissed">
      <th mat-header-cell *matHeaderCellDef> pct missed </th>
      <td mat-cell *matCellDef="let element"> {{element.pctMissed | percent: ".3-5"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>