<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-circle
    *ngFor="let m of markerArray"
    [radius]="m.radius"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [fillColor]="'#aa0000'"
  ></agm-circle>
</agm-map>

<mat-card class="result">
  <mat-card-content
    ><mat-slider
      [(ngModel)]="value"
      min="0"
      [max]="points"
      step="1"
      tickInterval="1"
      thumbLabel
      [displayWith]="displayWith"
      [value]="value"
      (input)="onInputChange($event)"
    ></mat-slider>

    <div>{{ curDate }} - {{ value }}</div>
  </mat-card-content>
</mat-card>
