mat-slider {
  width: 100%;
}

.skinny-button {
  margin: 0px, 0px;
}

.info-window {
  color: blue;
}

.movement-map{
  width: 100%;
  height:100%;
}

.container{
  width: 100%;
  height:100%;
}
.results{

} 