<div class='header-div'>Fish</div>


<table mat-table [dataSource]="fish" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Region">
    <th mat-header-cell *matHeaderCellDef> Region </th>
    <td mat-cell *matCellDef="let element"> {{element.Region}} </td>
  </ng-container>

  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
  </ng-container>

  <ng-container matColumnDef="Length">
    <th mat-header-cell *matHeaderCellDef> Length </th>
    <td mat-cell *matCellDef="let element"> {{element.Length}} </td>
  </ng-container>

  <ng-container matColumnDef="Sex">
    <th mat-header-cell *matHeaderCellDef> Sex </th>
    <td mat-cell *matCellDef="let element"> {{element.Sex}} </td>
  </ng-container>

  <ng-container matColumnDef="Contacts">
    <th mat-header-cell *matHeaderCellDef> Contacts </th>
    <td mat-cell *matCellDef="let element"> {{element.Contacts.length}} </td>
  </ng-container>

  <ng-container matColumnDef="TaggingDate">
    <th mat-header-cell *matHeaderCellDef> Tagging Date </th>
    <td mat-cell *matCellDef="let element"> {{element.TaggingDate | date: "MM/dd/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="FirstContact">
    <th mat-header-cell *matHeaderCellDef> First Contact </th>
    <td mat-cell *matCellDef="let element"> {{getLocationText(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <a href='/singlefish/{{element.Code}}'>
        <mat-icon color="accent">more_horiz</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>